$px10:0.1707rem;
$title:0.2371rem;
$hLine:0.4742rem;
body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}
header .navBox{
    background-color: white;
    z-index: 5;
    padding-bottom: 0.2rem;
}
#about{
    background: url(../img/profile.jpg) no-repeat top center;
    background-size: 100% auto;
    padding-top: 0.65435rem;
    .about{
        background-color: rgba(0,0,0,1);
        color: white;
        padding: 0.4rem 0 0.28rem;
        .aboutTitle{
            width: 95.8%;
            margin: 0 auto;
            font-size: $title;
            font-family: "arial";
            line-height: 0.5rem;
//          font-weight: bold;
        }
        .aboutContent{
            width: 95.8%;
            margin: 0 auto;          
            p{
                line-height: 0.3952rem;
                font-size: 0.165rem;
                text-indent: 0.3414rem;
                padding: 0.05rem 0;
                text-align: justify;
            }
        }
        .work{
            margin: 0.6rem auto 0;
            p{
                line-height:0.7397rem ;
            }
        }
        .process{
            margin-bottom: 0.15rem;
            >img{
                width: 100%;
            }
//          margin: 0 auto 0.2rem;
        }
    }
}
#introduce{
    margin: 1.1949rem auto;
    img {
        width: 100%;
    }
}
footer{
    position: relative;
}
#team{
    .tTitle{
        text-align: center!important;
        font-family:"arial";
        line-height: 0.45rem;
        margin: 0.2276rem 0 0.275rem;
        p:nth-child(1){
            font-size: $title;
            line-height: 0.3888rem;
        }
        p:nth-child(2){
            font-size: 0.1897rem;
            line-height: 0.3604rem;
        }
    }
    .teamBox{
        width: 100%;
        >img{
            width: 12.5%;
            float: left;
        }
    }
}
#company{
    padding:  2.3519rem 0 0.3414rem;
    .cpLeft{
        width: 30.5%;
        text-align: left;
        margin-left: 7.5%;
        line-height: 0.45rem;
        p{
            font-size: 0.2rem ;
            letter-spacing: 0.01rem;
            font-family: "arial";
            text-indent: 0.14rem;
//          font-weight: bold;
        }
        nobr{
            color: #606060;
            p{
//              transform: scale(0.66,0.66);
//              margin-left: -15%;
                text-indent: 0rem;
                font-size: 0.1233rem;
                line-height: 0.2rem;
            }
            
        }
    }
    .cpRight{
        width: 62%;
        font-size: $px10;
        p{
            line-height: 0.3952rem;
            color: black;
        }
    }
}
footer{
    background-color: transparent;
    position: relative;
    p{
        padding: 0.51rem 0 0.3414rem;
    }
}