body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  background-color: white; }
  header{
       background-color: white;
  }
header .navBox{
     background-color: white;
     box-shadow:0 2px 4px rgba(231,231,231,0.5);
 }
 footer{
    position: relative;
}
.banner{
    img{
        width: 100%;
    }
    .swiper-button-prev,.swiper-button-next{
      background-image: url(../img/left.png);
      width: 0.31rem;
      height: 0.56rem; 
      background-size: 0.31rem 0.56rem; 
      margin-top: -0.28rem;
    }
    .swiper-button-next{
        transform: rotate(180deg);
    }
}
.backs{
    margin-bottom: 0.7397rem;
}
$title:0.2371rem;
 $px10:0.163rem;
.message{
    table{
        margin: 0.7585rem 0 1.233rem;
        width: 100%;
        font-size: 0.1327rem;
        line-height: $title;
        text-align: left;
        width: 100%;
        font-family: arial;
        tr:nth-child(2){
            td:nth-child(2){
                font-family: helvetica;
            }
        }
        tr{
            border-bottom: 1px solid #424242;
            height: 0.295rem;
            td:nth-child(1){
                width: 12.3%;
                p{
                    border-right: 1px solid #424242;
                }
            }
            td:nth-child(2){
                width: 24.6%;
                p{
                    text-indent: 0.09rem; 
                }
            }
            td:nth-child(3){
                width: 10.2%;
                p{
                    border-right: 1px solid #424242;
                }
            }
            td:nth-child(4){
                width: 27.53%;
                p{
                    text-indent: 0.09rem; 
                }
            }
            td:nth-child(5){
                width: 7.32%;
                p{
                    border-right: 1px solid #424242;
                }
            }
            td:nth-child(6){
                width: 18.05%;
                p{
                    text-indent: 0.09rem; 
                }
            }
            .noborder{
                border: 0!important;
            }
        }
        tr:nth-last-child(1){
            border-bottom: 0px;
        }
    }
}
$hLine:0.4742rem;
.messageContent{
    .eTitle{
        font-size: $title;
        color: #252525;
        font-family: "arial";
        line-height: $title;
        margin-bottom: $px10;
    }
    .cTitle{
        font-size: 0.2068rem;
        color: #252525;
        line-height: 0.2068rem;
        margin-bottom: 0.569rem;
        
    }
    .contentBox{
        width: 90.8%;
        font-size: $px10;
        line-height: $hLine;
        text-align: justify;
        letter-spacing: 0.012rem;
    }
}
footer{
    background-color: transparent;
    position: relative;
    p{
        padding: 0.51rem 0 0.3414rem;
    }
}